<link rel="stylesheet"  href= "{{url_for('static', filename='css/meuestilo.css')}}">
<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='icons/olhos-colorido.ico')}}">
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">

			
            <h2 class="mt-5">Central de Vigilancia Olhos de Convant </h2>
			<h1>
				<p>Camera Frontal Oliveira 1 <img src="static/images/main_olhos.png" height=100 width=100></p>
				
				
			</h1>	
			<img src="{{ url_for('video_feed') }}" height="80%" >

			<form method="post" action="{{ url_for('tasks') }}">
			
			<input class="btn" type="submit" value="Stop/Start" name="stop" />
			<input class="btn" type="submit" value="Capture" name="click"/>
			<input class="btn" type="submit" value="Grey" name="grey" />
			<input class="btn" type="submit" value="Negative" name="neg" />
			<input class="btn" type="submit" value="Cadastro" name="cad" />
			<input class="btn" type="submit" value="Face Only" name="face" />
			<input class="btn" type="submit" value="Start/Stop Recording" name="rec" />
			</form>
            
			<h3 style="font-family:courier;">Instructions:</h3>
			<ol style="font-family:courier;">
			<li>Parar/Iniciar -- Alterna entre parar ou iniciar a transmissão ao vivo</li>
			<li>Capture -- Tire fotos e salve no diretório 'shots'</li>
			<li>Gray -- Alterna entre escala de cinza e saída RGB</li>
			<li>Negativo -- Alterna entre saída negativa e RGB</li>
			<li>Face Only--Mostra apenas seu rosto, se presente (Ativar/desativar)</li> 
			<li>Iniciar/Parar Gravação -- Alterna entre iniciar e parar a gravação de vídeo</li> </ol>	
        </div>
    </div>
</div>
</body>
