body {
    background-color: rgb(10, 106, 47);
  }
  
  h1 {
    color: navy;
    margin-left: 20px;


  }


.btn {
  
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid rgb(0, 255, 0);
  
}


